<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados da Pesquisa</title>
    <link rel="stylesheet" href="pesquisa.css">
</head>
<body>
<div class="navbar">
    <div class="header-inner-content">
        <h1 class="logo">AGRO <span>commerce</span></h1>
        <div class="buscar-box">
            <div class="lupa-buscar">
                <i class="bi bi-search"></i>
            </div>

            <div class="input-buscar">
                <input type="text" id="search" placeholder="Faça uma busca">
            </div>

            <div class="btn-fechar">
                <i class="bi bi-x-circle"></i>
            </div>
        </div>
        <nav>
            <ul>
                <li>Home</li>
                <li>Produtos</li>
                <li>Sobre</li>
                <li>Contato</li>
            </ul>
        </nav>
        <div class="nav-icons-container">
            <div class="image-container">
                <img src="../images/kindpng_746008.png" class="clickable-image"/>
                <span class="hover-text">Sair</span>
            </div>
            <img src="../images/menu.png" class="menu-button"/>
        </div>
    </div>
</div>

<main>
    <div id="search-results" class="search-results"></div>
</main>

<script src="../js/pesquisa.js"></script>
</body>
</html>
