<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histórico</title>
    <link rel="stylesheet" href="historico.css">
</head>
<body>
<div class="historico">
    <h1>HISTÓRICO</h1>
    <div class="section">
        <h2>VENDEDOR</h2>
        <table>
            <thead>
            <tr>
                <th>Nome do Item</th>
                <th>Quantidade</th>
                <th>Quantidade Atual</th>
            </tr>
            </thead>
            <tbody id="vendedor-tbody">
            <!-- Conteúdo será adicionado aqui pelo JavaScript -->
            </tbody>
        </table>
    </div>
    <div class="section">
        <h2>COMPRADOR</h2>
        <table>
            <thead>
            <tr>
                <th>Nome do Item</th>
                <th>Quantidade</th>
                <th>Descrição</th>
            </tr>
            </thead>
            <tbody id="comprador-tbody">
            <!-- Conteúdo será adicionado aqui pelo JavaScript -->
            </tbody>
        </table>
    </div>
</div>
<script src="script.js"></script>
</body>
</html>
