<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agrocommerce</title>
    <link rel="stylesheet" href="../shopping/shopping.css">
</head>
<body>
<div class="navbar">
    <div class="header-inner-content">
        <h1 class="logo">AGRO <span>commerce</span></h1>
        <nav>
            <ul>
                <li><a href="../home/index.html">Home</a></li>
                <li><a href="../shopping/shopping.html">Produtos</a></li>
                <li><a href="../home/index.html">Sobre</a></li>
                <li>Contato</li>
            </ul>
        </nav>
        <div class="nav-icons-container">
            <div class="image-container">
                <img src="../images/kindpng_746008.png" class="clickable-image"/>
                <span class="hover-text">Sair</span>
            </div>
            <img src="../images/menu.png" class="menu-button"/>
        </div>
    </div>
</div>

<div class="container" id="products-container">
    <!-- Os produtos serão inseridos aqui pelo JavaScript -->
</div>

<script src="../js/shopping.js"></script>
</body>
</html>